<h1>Users Index </h1>

<table>
  <th>
    <tr>
      <td>Username</td>
      <td>Admin?</td>
      <td></td>
    </tr>
  </th>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.admin %></td>
      <td><%= button_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr> 
  <% end %>
</table>