<h1>User Index</h1>

<table>
  <thead>
    <tr>
      <td>First Name</td>
      <td>Last Name</td>
      <td>E-mail</td>
    </tr>
  </thead>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
</table>

<%= link_to "New User", new_user_path %>